Repository rok4/core-python, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, enhancement, quality, tooling

Nouvelle gestion du changelog
  .github/workflows/build-and-release.yaml
  CHANGELOG.md
  CONTRIBUTING.md
Labels: ci-cd

Préparation à la publication de la 1.7.1
  .github/workflows/build-and-release.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Labels: ci-cd, tooling

Correction de la page des tests unitaires
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Préparation à la publication de la 1.7.1
  .github/workflows/build-and-release.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Labels: ci-cd, tooling

Nouvelle gestion du changelog
  .github/workflows/build-and-release.yaml
  CHANGELOG.md
  CONTRIBUTING.md
Labels: ci-cd

Correction de la page des tests unitaires
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Add isort as git hook
  .pre-commit-config.yaml
Labels: tooling

Add isort to dev dependencies
  pyproject.toml
Labels: tooling

Apply isort
  CHANGELOG.md
  src/rok4/Layer.py
  src/rok4/Pyramid.py
  src/rok4/Raster.py
  src/rok4/Storage.py
  src/rok4/TileMatrixSet.py
  src/rok4/Utils.py
  src/rok4/Vector.py
  tests/test_Layer.py
  tests/test_Pyramid.py
  tests/test_Raster.py
  tests/test_Storage.py
  tests/test_TileMatrixSet.py
  tests/test_Utils.py
  tests/test_Vector.py
Labels: enhancement, quality

Specify target Python version to black
  .pre-commit-config.yaml
Labels: tooling

Rename files to comply with Python convention PEP8
  src/rok4/exceptions.py
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_raster.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: enhancement, quality

Move StorageType to enums module
  src/rok4/Pyramid.py
  src/rok4/Storage.py
  src/rok4/enums.py
  tests/test_Pyramid.py
  tests/test_Storage.py
Labels: enhancement, quality

Move Pyramidtype to enums module
  src/rok4/Layer.py
  src/rok4/Pyramid.py
  src/rok4/enums.py
  tests/test_Layer.py
Labels: enhancement, quality

Move SlabType to enums module
  src/rok4/Pyramid.py
  src/rok4/enums.py
  tests/test_Pyramid.py
Labels: enhancement, quality

Rm unused ColorFormat
  src/rok4/Utils.py
Labels: enhancement

Rename files to comply with Python convention PEP8
  README.md
  README.pypi.md
  src/rok4/enums.py
  src/rok4/exceptions.py
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_raster.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: enhancement, quality

Suppression de l'ancien fichier des classes Pyramid et Level
  src/rok4/Pyramid.py
  src/rok4/pyramid.py
Labels: enhancement

Fusion de list_generator_level et list_generator
  src/rok4/pyramid.py
Labels: enhancement

Modification de pre-commit
  CHANGELOG.md
  src/rok4/enums.py
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_raster.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: enhancement, quality

Ajout de la ligne "pre-commit install" dans README
  README.md
Labels: none

Ajout de suppression de fichier si existant et de la création des dossiers en FILE pour link
  src/rok4/storage.py
Labels: enhancement

Apply isort to existing codebase
  src/rok4/enums.py
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_raster.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: enhancement, quality

Add dependabot configuration
  .github/dependabot.yml
Labels: ci-cd

Add requests as 3rd party dependency
  pyproject.toml
Labels: tooling

Decrease requests min version
  pyproject.toml
Labels: tooling

Fix some of minor issues spotted by linters
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
Labels: enhancement

Fix linters errors and close #54
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/tile_matrix_set.py
Labels: enhancement

Add config section for pre-commit.ci
  .pre-commit-config.yaml
Labels: tooling

Add ruff git hook
  .pre-commit-config.yaml
Labels: tooling

Add ruff as dev dependency and configuration
  pyproject.toml
Labels: tooling

Handle missing python rados
  src/rok4/storage.py
Labels: enhancement

Rm useless and failing rados import
  src/rok4/storage.py
Labels: enhancement

Fix imports
  src/rok4/storage.py
Labels: enhancement

Clean globals
  src/rok4/storage.py
Labels: enhancement

Move globals vars upper
  src/rok4/storage.py
Labels: enhancement

Rm duplicated var
  src/rok4/storage.py
Labels: enhancement

Clean some linters alert from tests
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_raster.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: quality

Replace star miports
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: quality

Trigger tests against PR
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Run create release and related jobs only on tags
  .github/workflows/build-and-release.yaml
Labels: ci-cd

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

enhancement:
  - src/**/*

quality:
  - tests/**/*

tooling:
  - .gitignore
  - .pre-commit-config.yaml
  - setup.cfg
  - pyproject.toml
