Repository rok4/core-python, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, enhancement, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

enhancement:
  - src/**/*

quality:
  - tests/**/*

tooling:
  - .gitignore
  - .pre-commit-config.yaml
  - setup.cfg
  - pyproject.toml

Move unit tests in a separate workflow
  .github/workflows/tests.yml
Labels: ci-cd

Restore initial trigger
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Disable fail fast (temp)
  .github/workflows/tests.yml
Labels: ci-cd

Install missing PythonGDAL wrappers
  .github/workflows/tests.yml
Labels: ci-cd

Add Ubuntu 20.04
  .github/workflows/tests.yml
Labels: ci-cd

Fix GDAL installation
  .github/workflows/tests.yml
Labels: ci-cd

Move GDAL install after project
  .github/workflows/tests.yml
Labels: ci-cd

print rados version
  .github/workflows/tests.yml
Labels: ci-cd

Pas de documentation publiée pour les versions beta
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Correction des tests unitaires
  .github/workflows/build-and-release.yaml
  tests/test_raster.py
  tests/test_tile_matrix_set.py
Labels: ci-cd, quality

Correction de l'injection de version beta
  .bumpversion.cfg
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Versionnement de beta compatible PEP440
  .bumpversion.cfg
  .github/workflows/build-and-release.yaml
Labels: ci-cd

Correction de la lecture d'une tuile d'unepyramide PNG 1 canal
  .github/workflows/build-and-release.yaml
  src/rok4/pyramid.py
Labels: ci-cd, enhancement

Client S3 avec connexions ouvertes et cache LRU de lecture
  CHANGELOG.md
  src/rok4/storage.py
Labels: enhancement
