Repository rok4/core-python, pull requests merged in 2023-10, with the labels that each got.

#67 MAJ la version minimale de pillow pour intégrer la correction de la faille libwebp
  pyproject.toml
Labels: tooling

#69 Configurabilité du cache de lecture
  src/rok4/storage.py
Labels: enhancement

#73 Release 2.0.1
  .github/dependabot.yml
  .github/workflows/build-and-release.yaml
  .github/workflows/build-docs.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  src/rok4/storage.py
Labels: enhancement, quality, tooling, ci-cd

#58 Nettoie les poussières dans les tests
  tests/test_layer.py
  tests/test_pyramid.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: quality
