Repository rok4/core-python, pull requests merged in 2023-07, with the labels that each got.

#34 Ajout du stockage HTTP dans Storage
  CHANGELOG.md
  src/rok4/Storage.py
  tests/test_Storage.py
Labels: enhancement, quality

#41 Outillage : ajoute pyupgrade comme git hook
  .pre-commit-config.yaml
  src/rok4/Pyramid.py
  src/rok4/Storage.py
Labels: enhancement, tooling

#47 Outillage : précise la version cible de Python au git hook Black
  .pre-commit-config.yaml
Labels: tooling

#49 Déplace les enums dans un module dédié
  src/rok4/Layer.py
  src/rok4/Pyramid.py
  src/rok4/Storage.py
  src/rok4/Utils.py
  src/rok4/enums.py
  tests/test_Layer.py
  tests/test_Pyramid.py
  tests/test_Storage.py
Labels: quality

#48 Renomme les fichiers Python pour se conformer aux conventions du langage (PEP8)
  src/rok4/layer.py
  src/rok4/pyramid.py
  src/rok4/raster.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  src/rok4/vector.py
  tests/test_layer.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
Labels: quality
