Repository rok4/core-python, pull requests merged in 2024-01, with the labels that each got.

#80 Gestion du versionnement de la documentation avec mike
  .github/workflows/build-and-release.yaml
  .github/workflows/build-docs.yaml
  .pre-commit-config.yaml
  docs/CHANGELOG.hdr.md
  docs/CONTRIBUTING.hdr.md
  docs/README.hdr.md
  docs/documentation.md
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/requirements.txt
  docs/unit-tests.md
  pyproject.toml
Labels: documentation, tooling, ci-cd

#45 Ajouts de fonctions nécessaire pour le joincache de pytools
  .pre-commit-config.yaml
  README.md
  src/rok4/pyramid.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  tests/test_layer.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
Labels: enhancement, quality, tooling

#81 Release 2.1.0
  .github/workflows/build-and-release.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/pr-auto-labeler.yml
  CHANGELOG.md
  README.md
  docs/CHANGELOG.hdr.md
  docs/CONTRIBUTING.hdr.md
  docs/README.hdr.md
  docs/documentation.md
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/requirements.txt
  docs/unit-tests.md
  pyproject.toml
  src/rok4/pyramid.py
  src/rok4/storage.py
  src/rok4/tile_matrix_set.py
  src/rok4/utils.py
  tests/test_pyramid.py
  tests/test_storage.py
  tests/test_tile_matrix_set.py
  tests/test_utils.py
  tests/test_vector.py
Labels: documentation, enhancement, quality, tooling, ci-cd
